*{
    margin: 0;
    padding: 0;
}
#thishead{
    text-align: center;
  /*  height: 64px;
   line-height: 64px; */
    background-color: rgb(209, 180, 136);
    color:white;
    
}

#thiscontent{
   /*  height: 2500px; */
    text-align: center;
   background-color:   rgb(250, 249, 242);
}

#thisleft{
    
   /*  height: 100%; */
   width: 150px;
    background-color: rgb(250, 249, 242);
    float: left;
    position: sticky;
    top: 0;
    
}
#thisright{
    /* height: 100%; */
  margin-left: 150px;
  /* position: absolute; 
  top: 60px;
  left: 180px;  */
  background-color: white;
  
}
#thisright .p1{
    text-align: left;
    margin-left: 30px;
}
#footer{
   
   /*  height: 100px; */
    background-color: rgb(209, 180, 136);
    color: white;
    text-align: center;
   
  
   width: 100%;
  
   /*  line-height: 100px;
    vertical-align: middle; */
}
.table1{
   border-spacing: 0;
   margin: 0 auto;
    border: solid 1px yellow;
    
}
.table1 td{
    border: 1px solid yellow;
    width: 200px;

}
.td1::before{
    content: "￥";
}
.headtu{
    margin: 0 auto;
}
.headtu img{
    margin-top: 20px;
    margin-bottom: 20px;
}
ul {
    position: sticky;
    top: 0;
}
ul li a{
    font-size: 30px;
    display: block;
    width: 150px;
    height: 40px;
    text-decoration: none;
    border-bottom: 1px solid rgb(209, 180, 136);;
    color:  rgb(209, 180, 136);

}
ul li a:hover{
    background-color: rgb(209, 180, 136);;
    color: white;
   
}
ul li a:active{
    color: #000;
}

ul li:last-child a{
    border-bottom: none;
}
p {
    text-indent: 2em;
}

p::first-letter{
    font-size: 32px;
}
/* .clearfix{
    clear: both;
} */
